section.home{
	height: 100%;
	font-size: 2rem;

	div.intro-container{
		// margin-top: $navbar-height;
		height: 100%;
		width: 100%;
		background-color: #0C111E;
		background-image: url('../img/bostonbg.jpg');
		background-attachment: fixed;
		background-size: cover;
		text-align: center;

		// @include background(url('../img/bostonbg.jpg') center center cover no-repeat fixed);
	}

	h1{
		padding-top: 20px;
		color: white;
		font-size: 2em;
		font-family: $cursiveFont;
	}

	h2{
		margin-top: 30px;
		color: white;
		span.typed-cursor{
			position: relative;
			right: 8px;
		}
	}


	div.button{
		position: relative;
		margin-top: 60px;
		display: inline-block;
		background: $purple;
		padding: 7px 20px;
		border-radius: 10px;
		i.ion-chevron-down{
			opacity: 0;
			@include transition(.2s ease);
			margin-left: 10px;
			position: absolute;
			display: inline-block;
			margin-top: -32px;
			left: 220px;
			color: white;
			// display: none;
		}
		@include transition(.2s ease);
		&:hover{
			@include transition(.5 ease);
			a.learn-more{
				// color: white;
			}
			background: darken($purple, 10%);
			padding-right: 50px;
			i.ion-chevron-down{
				opacity: 1;
				margin-top: -32px;
				@include transition(.5s ease);

			}
		}

	}

	a.learn-more{
		font-family: $cursiveFont;
		margin-top: 50px;
		color: black;
		&:hover, &:focus{
			text-decoration: none;
		}
	}




	img.logo{
		width: 100px;
		margin-top: 80px;

	}

	div.navbar-trigger{
		position: absolute;
		bottom: 200px;
		background: red;
		height: 5px;
		width: 100%;
	}













































}